@import url('https://fonts.googleapis.com/css2?family=Noto Sans JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

:root {
	--red: #F81E5F;
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	display: grid;
	place-items: center;
	background: white;
	font-family: 'Noto Sans JP', sans-serif;
}
button {
	margin: 10px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	background: white;
	padding: 10px 20px;
	transition: box-shadow .2s , background .2s, color .2s, opacity .2s;
	font-family: Arial;
	cursor: pointer;
	box-shadow: 1px 1px 5px #0002;
}
em {
	color: var(--red);
}
pre {
	margin: 0;
	border-radius: 5px;
	padding: 10px 30px;
	background: #fafafa;
	font-family: 'Fira Code', monospace;
}
.demo-group {
	margin: 20px;
	position: relative;

	display: flex;
}
.demo-button {
	padding: 0;
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	background: #66afd2;
}
.demo-button > img {
	width: 30px;
	height: 30px;
}
button:hover {
	box-shadow: 1px 1px 5px #0003;
}
button.love {
	background: var(--red);
	color: white;
}